.churchesContainer {
  background-color: #02161E;
  padding: 18px 24px;
}

.churches_addressList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 80px
}

.churches_text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px;
}

.churches_itemTitle {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
}

.churches_itemAddress {
  font-size: 10px;
}

@media (max-width: 320px) {
  .churches_addressList {
    gap: 16px 30px
  }
}

@media (min-width: 768px) {
  .churches_text {
    font-size: 32px;
  }

  .churches_addressList {
    gap: 30px 120px;
  }

  .churches_itemTitle {
    font-size: 18px;
  }

  .churches_itemAddress {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .churchesContainer {
    padding: 30px 34px;
  }

  .churches_itemTitle {
    font-size: 24px;
  }

  .churches_itemAddress {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .churchesContainer {
    padding: 33px 56px;
  }

  .churches_addressList {
    gap: 54px 140px;
  }

  .churches_text {
    font-size: 80px;
    padding-bottom: 56px;
  }

  .churches_itemTitle {
    font-size: 30px;
  }

  .churches_itemAddress {
    font-size: 20px;
    font-weight: 300;
  }
}