.background {
  background-color: #02161E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cellsContainer {
  padding: 20px;
  max-width: 1400px;
}

.cells_header {
  background-image: url('https://i.postimg.cc/R0V0vssR/Celulas.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  font-size: 30px;
  font-weight: 300;
  position: relative;
  width: 100%;
}

.cells_title {
  font-size: 30px;
  margin-bottom: 6px;
  font-weight: 300;
}

.cells_text {
  font-size: 10px;
  font-weight: 300;
}

.listItems {
  margin: 6px 0;
}

@media (min-width: 768px) {
  .cellsContainer {
    padding: 40px 30px;
  }

  .cells_header {
    font-size: 48px;
    padding: 65px 0;
  }

  .cells_title {
    font-size: 48px;
  }

  .cells_text {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  .cellsContainer {
    padding: 44px 38px;
  }

  .cells_title {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .cells_text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .cellsContainer {
    padding: 66px 132px;
    padding-bottom: 140px;
  }
  
  .cells_header{
    padding-top: 183px;
    padding-bottom: 226px;
    font-size: 126px;
  }

  .cells_title {
    font-size: 100px;
  }

  .cells_text {
    font-size: 22px;
    line-height: 24px;
  }
}