.aboutUsContainer {
  background-color: #fff;
  display: flex;
}

.aboutUs_Main {
  background-image: url('../../assets/backgroundPaper.png');
  background-size: cover;
  display: flex;
  padding-top: 20px;
}

.aboutUs_imageBackground {
  position: absolute;
  width: 100%;
}

.imagePhone {
  width: 50vw;
  height: auto;
}

.aboutUs {
  color: #000;
  padding-bottom: 25px;
}

.aboutUs_title {
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 16px;
}

.aboutUs_listTitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.aboutUs_description {
  font-size: 13px;
  font-weight: 300;
  line-height: 12.836px;
  padding-right: 8px;
}

.aboutUs_list {
  display: flex;
  gap: 6px;
  margin-bottom: 16px;
}

.aboutUs_listPoint {
  font-size: 8px;
  padding: 6px;
  background-color: #39196E;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
}

@media (max-width: 320px) {
  .aboutUs {
    padding-bottom: 30px;
  }

  .imagePhone {
    display: none;
  }

  .aboutUs_Main {
    padding: 20px;
  }
}

@media (min-width: 425px) {
  .aboutUs {
    padding-bottom: 34px;
  }
}

@media (min-width: 768px) {
  .aboutUs_title {
    font-size: 50px;
  }
  
  .aboutUs_listTitle {
    font-size: 20px;
  }

  .aboutUs_description {
    font-size: 20px;
    line-height: 20px;
  }

  .aboutUs_list {
    gap: 18px
  }

  .aboutUs_listPoint {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .aboutUs_listTitle {
    font-size: 28px;
  }

  .aboutUs_listPoint {
    font-size: 20px;
  }

  .aboutUs_description {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .aboutUs_Main {
    padding-top: 68px;
    padding-bottom: 124px;
  }

  .aboutUs_title {
    font-size: 110px;
  }

  .aboutUs_listTitle {
    font-size: 42px;
    margin-bottom: 30px;
  }

  .aboutUs_listPoint {
    font-size: 30px;
    margin-bottom: 28px;
  }

  .aboutUs_description {
    font-size: 32px;
    line-height: 32px;
    margin-right: 60px;
  }
}