.background {
  background-image: url('https://i.postimg.cc/B6RZcqqY/background-Paper.png');
  background-size: cover;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.ministriesContainer {
  color: #000;
  padding-top: 15px;
  padding-bottom: 24px;
  max-width: 1400px;
}

.ministries_title {
  font-size: 26px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.ministries_list {
  display: flex;
  flex-direction: column;
  gap: 18px
}

.ministries_item {
  display: flex;
  gap: 18px;
  margin: 0 18px;
}

.image {
  border-radius: 11px;
  width: 1000px;
  height: auto;
}

.ministries_listTitles {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
}

.ministries_listDescription {
  font-size: 10px;
  line-height: 11.001px;
}

.ministries_rlsp {
  color: #031CFF;
}

.ministries_k {
  color: #FF7A00;
  font-size: 28px;
}

.ministries_i {
  color:#74BC51;
  font-size: 28px;
}

.ministries_d {
  color: #FFB800;
  font-size: 28px;
}

.ministries_s {
  color: #0085FF;
  font-size: 28px;
}

@media (min-width: 768px) {
  .ministriesContainer {
    padding: 20px 25px;
  }

  .ministries_title {
    font-size: 40px;
  }

  .ministries_list {
    gap: 35px
  }

  .ministries_item {
    gap: 45px
  }

  .ministries_listTitles  {
    font-size: 42px;
  }

  .ministries_listDescription {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: 1024px) {
  .ministriesContainer {
    padding: 20px 35px;
  }

  .ministries_title {
    font-size: 50px;
  }

  .ministries_listTitles  {
    font-size: 50px;
  }

  .ministries_listDescription {
    font-size: 25px;
    line-height: 28px;
  }
}

@media (min-width: 1440px) {
  .ministriesContainer {
    padding-left: 126px;
    padding-right: 70px;
  }

  .ministries_title {
    font-size: 75px;
    margin-top: 75px;
    margin-bottom: 119px;
  }
  
  .ministries_listTitles  {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .ministries_listDescription {
    font-size: 28px;
    line-height: 28px;
  }
}