.banner {
  width: 100vw;
  height: 50%;
}


.container {
  background-image: url('../assets/Capa.png');
  background-size: contain;
  padding-top: 90px;
}

.welcomeContainer {
  background-image: linear-gradient(0deg, #702280 77.5%, rgba(217, 217, 217, 0.00) 88.69%);
  padding: 28px 30px;
}

.title {
  font-size: 34px;
  font-weight: 300;
  margin-top: 80px;
}

.description {
  display: flex;
  gap: 36px;
  margin-top: 6px;
}

.verse {
  line-height: 14.289px;
  font-size: 14px;
  font-weight: 300;
  margin-top: 12px;
}

.aboutUsContainer {
  background-color: #fff;
  display: flex;
}

.aboutUs_Main {
  background-color: #fff;
  display: flex;
  padding-top: 26px;
}

.aboutUs_imageBackground {
  position: absolute;
  width: 100%;
}

.aboutUs {
  color: #000;
  padding-bottom: 30px;
}

.aboutUs_title {
  font-size: 28px;
  font-weight: 200;
  margin-bottom: 16px;
}

.aboutUs_listTitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.aboutUs_description {
  font-size: 13px;
  font-weight: 300;
  line-height: 12.836px;
}

.aboutUs_list {
  display: flex;
  gap: 6px;
  margin-bottom: 16px;
}

.aboutUs_listPoint {
  font-size: 8px;
  padding: 6px;
  background-color: #39196E;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
}

.cellsContainer {
  padding: 20px;
  background-color: #02161E;
}

.cells_header {
  background-image: url('../assets/Celulas.png');
  display: flex;
  justify-content: center;
  padding: 40px 0;
  font-size: 30px;
  font-weight: 300;
}

.cells_title {
  font-size: 30px;
  margin-bottom: 6px;
  font-weight: 300;
}

.cells_text {
  font-size: 10px;
  font-weight: 300;
}

.ministriesContainer {
  background-color: #fff;
  color: #000;
  padding-top: 15px;
  padding-bottom: 24px;
}

.ministries_title {
  font-size: 26px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.ministries_list {
  display: flex;
  flex-direction: column;
  gap: 18px
}

.ministries_item {
  display: flex;
  align-items: center;
  gap: 18px;
  margin: 0 18px;
}

.ministries_listTitles {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
}

.ministries_listDescription {
  font-size: 10px;
  line-height: 11.001px;
}

.ministries_rlsp {
  color: #031CFF;
}

.ministries_k {
  color: #FF7A00;
  font-size: 28px;
}

.ministries_i {
  color:#74BC51;
  font-size: 28px;
}

.ministries_d {
  color: #FFB800;
  font-size: 28px;
}

.ministries_s {
  color: #0085FF;
  font-size: 28px;
}

.shepherdContainer {
  padding: 20px 0;
  background: linear-gradient(90deg, #39196E 40.17%, #702280 88.78%);
}

.shepherd_title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 400;
}

.shepherd {
  display: flex;
  flex-direction: row;
  gap: 18px
}

.shepherd_card {
  background-color: #fff;
  padding: 14px 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1.624px 1.624px 0px rgba(0, 0, 0, 0.25), 0px 1.624px 1.624px 0px rgba(0, 0, 0, 0.25);
}

.shepherd_image {
  border-radius: 100%;
  box-shadow: 0px 1.624px 1.624px 0px rgba(0, 0, 0, 0.25), 0px 1.624px 1.624px 0px rgba(0, 0, 0, 0.25);
}

.shepherd_name {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  margin-top: 12px;
}

.shepherd_church {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.coursesContainer {
  background-color: #02161E;
}

.courses_header {
  background: url('../assets/Courses.png'), lightgray 0px -303.25px / 100% 177.045% no-repeat;
  mix-blend-mode: luminosity;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 38px;
  font-size: 32px;
  font-weight: 300;
}

.courses_main {
  padding: 24px 22px;

}

.courses_MaturityTitle {
  font-size: 31px;
  font-weight: 300;
  margin-bottom: 12px;
}

.courses_text {
  font-size: 12px;
  margin-bottom: 12px;
  font-weight: 300;
}

.courses_list {
  font-size: 12px;
  font-weight: 300;
  margin-left: 22px;
  margin-bottom: 12px;
}

.medium {
  font-weight: 500;
}

.mediasContainer {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('../assets/backgroundPaper.png');
}

.medias_title {
  font-size: 24px;
  margin: 20px;
}

.medias_main {
  width: 100%;
}

.medias {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
  margin: 0 15px;
}

.medias_spotify {
  font-size: 43px;
  color: #31CB6B;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.medias_youtube {
  font-size: 43px;
  color: #FF0000;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.medias_spotifyButton { 
  background-color: #31CB6B;
  border: none;
  padding: 6px 16px;
  border-radius: 12px;
  margin-right: 40px;
  font-size: 28px;
}

.medias_youtubeButton {
  background-color: #FF0000;
  border: none;
  padding: 6px 16px;
  border-radius: 10px;
  font-size: 17px;
  margin-left: 40px;
}

.medias_imageBackground {
  position: absolute;
}

.churchesContainer {
  background-color: #02161E;
  padding: 18px 24px;
}

.churches_addressList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 80px
}

.churches_text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px;
}

.churches_itemTitle {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
}

.churches_itemAddress {
  font-size: 10px;
}