.background {
  background: linear-gradient(90deg, #39196E 2.43%, #702280 52.88%);
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.container {
  padding: 17px 41px;
  padding-bottom: 12px;
  position: relative;
  display: flex;
  gap: 8vw;
    max-width: 1400px;
  margin: auto;
}

.menus {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.itemMenu {
  display: none;
}

@media (min-width: 768px) {
  .itemMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
  }

}

@media (min-width: 1024px) {
  .itemMenu {
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 24px 41px;
  }

  .itemMenu {
    font-size: 16px;
  }
}

@media (min-width: 2000px) {
  .container {
    gap: 6vw;
  }

  .container {
    padding: 24px 41px;
  }

  .itemMenu {
    font-size: 24px;
  }
}
