.mediasContainer {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../assets/backgroundPaper.png');
}

.medias_title {
  font-size: 24px;
  margin: 20px;
}

.medias_main {
  width: 100%;
}

.medias {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
  margin: 0 15px;
}

.medias_spotify {
  font-size: 43px;
  color: #31CB6B;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.medias_youtube {
  font-size: 43px;
  color: #FF0000;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.medias_spotifyButton { 
  background-color: #31CB6B;
  border: none;
  padding: 6px 16px;
  border-radius: 12px;
  margin-right: 40px;
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

.medias_youtubeButton {
  background-color: #FF0000;
  color: #fff;
  font-weight: 500;
  border: none;
  padding: 6px 16px;
  border-radius: 10px;
  font-size: 17px;
  text-decoration: none;
  margin-left: 40px;
}

.medias_imageBackground {
  position: absolute;
}

@media (max-width: 320px) {
  .medias_spotify {
    font-size: 28px;
  }

  .medias_youtube {
    font-size: 28px;
  }

  .medias_spotifyButton {
    font-size: 10px;
  }

  .medias_youtubeButton {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .medias_title {
    font-size: 32px;
  }

  .medias {
    padding: 0 50px;
  }

  .medias_spotifyButton {
    font-size: 28px;
  }

  .medias_youtubeButton {
    font-size: 28px;
  }
}